.export
.password
__pycache__/
myenv/
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite3
dist/
build/
*.egg-info/
.tox/
.coverage
.coverage.*
coverage/
*.mo
*.pot
*.log
instance/
manhole/
migrations/versions/*.pyc
.cache/
.pytest_cache/
*.egg
MANIFEST
*.spec