html, body {margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: small}
p, li { font-size: small }
span {margin: 2px}
.navbar {background-color: black; margin-bottom: 3px}
.title { color: floralwhite; font-family: 'Abril Fatface', cursive; font-size: 20px}
.form { height: 50%; width:70%; padding: 10px; position: relative; left: 48px}
.form-group {width: 40%}
.login-msg{position: relative; left: 48px}
.img-class{
width:40px;
height:40px
}
.spacer {
    flex: 1;
}
.footer {
    padding: 10px;
    width: 100%;

}
.text-c-green {
    color: #1de9b6;
  }
/**  =====================
      Progress css start
==========================  **/
@-webkit-keyframes progress-bar-stripes {
    from {
      background-position: 16px 0;
    }
    to {
      background-position: 0 0;
    }
  }
  @keyframes progress-bar-stripes {
    from {
      background-position: 16px 0;
    }
    to {
      background-position: 0 0;
    }
  }
  .progress {
    height: 12px;
    font-size: 10px;
    background-color: #f4f7fa;
    border-radius: 0;
    overflow: visible;
  }
  
  .progress-bar {
    background-color: #04a9f5;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .progress-bar.progress-c-blue {
    background: #04a9f5;
  }
  .progress-bar.progress-c-theme {
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  }
  .progress-bar.progress-c-theme2 {
    background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
  }
  .progress-bar.progress-c-red {
    background: #f44236;
  }
  .progress-bar.progress-c-theme {
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  }
  .progress-bar.progress-c-theme2 {
    background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
  }
  .progress-bar.progress-c-green {
    background: #1de9b6;
  }
  .progress-bar.progress-c-theme {
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  }
  .progress-bar.progress-c-theme2 {
    background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
  }
  .progress-bar.progress-c-yellow {
    background: #f4c22b;
  }
  .progress-bar.progress-c-theme {
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  }
  .progress-bar.progress-c-theme2 {
    background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
  }
  .progress-bar.progress-c-purple {
    background: #a389d4;
  }
  .progress-bar.progress-c-theme {
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  }
  .progress-bar.progress-c-theme2 {
    background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
  }
  
  /**====== Progress css end ======**/
  
  