{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% macro render_manual_field(field) %}
    <div style="max-width: 500px;"> {# This controls the box width #}
        {{ field.label(class="form-label") }}
        {{ field(class="form-control " + ("is-invalid" if field.errors else ""), **kwargs) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback" style="display:block;">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% block content %}
    <div class="container">
        <h4 style="margin-left: 45px"> Create New WorkOrder </h4>
        <form method="POST" action="" enctype="multipart/form-data">
            <input type="file" name="file" accept=".doc,.docx">
            <input type="submit" name="readdocfile" value="Upload">
        </form>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p> {{ render_manual_field(form.wo) }}</p>
            <p> {{ render_manual_field(form.ldtime) }}</p>
            <p> {{ render_manual_field(form.customers) }}</p>
            <p> {{ render_manual_field(form.pn, list="id_datalist") }}</p> 
            <datalist id="id_datalist">
               {% for entry in products %}
                  <option value="{{ entry }}">
               {% endfor %}
            </datalist>
            <p> {{ render_manual_field(form.csn) }}</p>
            <p> {{ render_manual_field(form.cputype) }}</p>
            <p> {{ render_manual_field(form.memorysize) }}</p>
            <p> {{ render_manual_field(form.gpu) }}</p>

            <p>{{ form.withwifi.label }} {{ form.withwifi() }}
                {{ form.withcan.label }} {{ form.withcan() }}
                {{ form.withfg5g.label }} {{ form.withfg5g() }}</p>
            <p>    
                {{ form.osactivation.label }} {{ form.osactivation() }}
                {{ form.ospreinstalled.label }} {{ form.ospreinstalled() }}
                {{ form.diskpreinstalled.label }} {{ form.diskpreinstalled() }}</p>
            <p>{{ form.osinstall.label }} </p> 
            <p> {{ form.osinstall() }}</p>
            <p>{{ form.disksize.label }} </p> 
            <p> {{ form.disksize() }}</p>
            <p>{{ form.cpuinstall.label }} 
               {{ form.cpuinstall() }}</p>
            <p>{{ form.memoryinstall.label }} 
               {{ form.memoryinstall() }}</p>
            <p>{{ form.gpuinstall.label }} 
               {{ form.gpuinstall() }}</p>
            <p>{{ form.wifiinstall.label }} 
               {{ form.wifiinstall() }}</p>
            <p>{{ form.caninstall.label }} 
               {{ form.caninstall() }}</p>
            <p>{{ form.mezioinstall.label }}
               {{ form.mezioinstall() }}</p>
            <p>{{ form.fg5ginstall.label }} 
               {{ form.fg5ginstall() }}</p>
            <p>{{ form.packgo.label }} 
               {{ form.packgo() }}</p>
            <p> {{ render_manual_field(form.operator) }}</p> 
            <p><input type="text" name="doc_items" value="{{ form.doc_items.data or '' }}" style="width: 400px" placeholder="e.g., GPU-RTX4080|SSD256GB|WIFI"></p> 
                {{ form.submit() }}
        </form>
    </div>
{% endblock %}
