{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div class="container">
        <h4 style="margin-left: 45px"> Create New WorkOrder </h4>
        <form method="POST" action="" enctype="multipart/form-data">
            <input type="file" name="file" accept=".doc,.docx">
            <input type="submit" name="readdocfile" value="Upload">
        </form>
          {{ form.hidden_tag() }}
          {{ render_form(form) }}
    </div>
{% endblock %}