{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h4 class="font-weight-bold">Work Orders</h4>
        </div>
        <div class="col text-right">
            <small class="text-muted" id="liveIndicator">&#9679; Live</small>
            <button class="btn btn-sm btn-outline-secondary ml-2" onclick="location.reload()">Refresh</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-16 my-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
               <a class="nav-link " id="home-tab" data-toggle="tab" href="#ToDo" role="tab" aria-controls="home" aria-selected="false">To Do <span class="badge badge-secondary" data-badge="unassigned">{{ unassigned_count }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab" data-toggle="tab" href="#Pending" role="tab" aria-controls="home" aria-selected="false">Pending <span class="badge badge-warning" data-badge="pending">{{ pending_count }}</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#Processing" role="tab" aria-controls="profile" aria-selected="true">Processing <span class="badge badge-primary" data-badge="processing">{{ processing_count }}</span></a>
            </li>
             <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Completed" role="tab" aria-controls="contact" aria-selected="false">Completed Today <span class="badge badge-success" data-badge="completed_today">{{ completed_today_count }}</span></a>
             </li>
             <li class="nav-item">
                <a class="nav-link" id="completed-lw-tab" data-toggle="tab" href="#CompletedLW" role="tab" aria-controls="contact" aria-selected="false">Completed Last Weekday <span class="badge badge-secondary" data-badge="completed_lw">{{ completed_lw_count }}</span></a>
             </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade " id="ToDo" role="tabpanel" aria-labelledby="home-tab">
                <div class="col my-2">
                     <h6 class="font-weight-bold">To Do WorkOrder</h6>
                </div>
                <button onclick="TakeSelected()">Take more</button>
                <button onclick="PendingSelected()">Pending more</button>  
                <div class="table-responsive">
                    <table data-search="true" data-toggle="table" class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr style="background-color: #e3f2fd;">
                                <th data-checkbox="true">CHK</th>
                                <th data-sortable="true"> ID</th>
                                <th data-sortable="true"> Leadtime</th>
                                <th data-sortable="true"> WorkOrder</th>
                                <th data-sortable="true"> Customer</th>
                                <th data-sortable="true"> Product Number</th>
                                <th data-sortable="true"> Chassis SN</th>
                                <th data-sortable="true"> Created at</th>
                                <th> Take</th>
                                <th> Assigned</th>
                                {% if userrole > 0 %}
                                <th> Delete</th>
                                <th> Edit</th>
                                <th> Deactive</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <script type="text/javascript">
                            function TakeSelected() {
                                var grid = document.getElementById("ToDo");
                                var checkBoxes = grid.getElementsByTagName("input");
                                var ids = []; var cnt = 0;
                                for (var i = 2; i < checkBoxes.length; i++) {
                                    if (checkBoxes[i].checked) {
                                        ids.push(checkBoxes[i].parentNode.parentNode.parentNode.cells[1].innerHTML.trim());
                                        cnt++;
                                    }
                                }
                                if (cnt == 0) return;
                                var xhr = new XMLHttpRequest();
                                xhr.open('POST', '{{ url_for("main.takemore") }}', true);
                                xhr.setRequestHeader('Content-Type', 'application/json');
                                xhr.onload = function() { location.reload(); };
                                xhr.send(JSON.stringify({message: ids.join(' ')}));
                        }
                            function PendingSelected() {
                                var grid = document.getElementById("ToDo");
                                var checkBoxes = grid.getElementsByTagName("input");
                                var ids = []; var cnt = 0;
                                for (var i = 2; i < checkBoxes.length; i++) {
                                    if (checkBoxes[i].checked) {
                                        ids.push(checkBoxes[i].parentNode.parentNode.parentNode.cells[1].innerHTML.trim());
                                        cnt++;
                                    }
                                }
                                if (cnt == 0) return;
                                var xhr = new XMLHttpRequest();
                                xhr.open('POST', '{{ url_for("main.pendingmore") }}', true);
                                xhr.setRequestHeader('Content-Type', 'application/json');
                                xhr.onload = function() { location.reload(); };
                                xhr.send(JSON.stringify({message: ids.join(' ')}));
                            }
                        </script>
                        <tbody>
                        {% for workorder in todoworkorder %}
                        <tr>
                            <td></td>
                            <td> {{ workorder.id }}</td>
                            <td> {% if workorder.ldtime != None %} 
                                   {{ workorder.ldtime.strftime('%m/%d') }}
                                 {% endif %}
                            </td>
                            <td> {{ workorder.wo }}</td>
                            <td> {{ workorder.customers }}</td>
                            <td> <a href= "{{ url_for('main.CheckWorkOrder',id=workorder.id)}}"> {{ workorder.pn }} </a></td>
                            <td> {{ workorder.csn }}</td>
                            <td> {{ workorder.cstime.strftime('%m/%d %H:%M') }}</td>
                            <td>
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.TakeOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </a>
                            </td>
                            {% if workorder.asid == -1 %}
                            <td> Not yet </td>
                            {% else %}
                            <td>{{ workorder.asid|usersname }} </td>
                            {% endif %}
                            {% if userrole > 0 %}
                            <td>       
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.DeleteOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>       
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.EditOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>       
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.DeactiveOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade " id="Pending" role="tabpanel" aria-labelledby="home-tab">
                <div class="col my-2">
                     <h6 class="font-weight-bold">To Do WorkOrder</h6>
                </div>
                <div class="table-responsive">
                    <table data-search="true" data-toggle="table" class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr style="background-color: #e3f2fd;">
                                <th data-sortable="true"> ID</th>
                                <th data-sortable="true"> Leadtime</th>
                                <th data-sortable="true"> WorkOrder</th>
                                <th data-sortable="true"> Customer</th>
                                <th data-sortable="true"> Product Number</th>
                                <th data-sortable="true"> Chassis SN</th>
                                <th data-sortable="true"> Created at</th>
                                <th> Take</th>
                                <th> Assigned</th>
                                {% if userrole > 0 %}
                                <th> Delete</th>
                                <th> Retore</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for workorder in pendingworkorder %}
                        <tr>
                            <td> {{ workorder.id }}</td>
                            <td> {% if workorder.ldtime != None %} 
                                {{ workorder.ldtime.strftime('%m/%d') }}
                              {% endif %}
                            </td>
                            <td> {{ workorder.wo }}</td>
                            <td> {{ workorder.customers }}</td>
                            <td> {{ workorder.pn }}</td>
                            <td> {{ workorder.csn }}</td>
                            <td> {{ workorder.cstime.strftime('%m/%d %H:%M') }}</td>
                            <td>
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.TakeOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </a>
                            </td>
                            {% if workorder.asid == -1 %}
                            <td> Not yet </td>
                            {% else %}
                            <td>{{ workorder.asid|usersname }} </td>
                            {% endif %}
                            {% if userrole > 0 %}
                            <td>       
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.DeleteOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>       
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.RestoreOneComputer',id=workorder.id)}}"
                                role="button">
                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>    
        <div class="tab-pane fade active show" id="Processing" role="tabpanel" aria-labelledby="home-tab">
            <div class="col my-2">
                <h6 class="font-weight-bold">Processing WorkOrder</h6>
            </div>
            <button onclick="UploadSelected()">Upload more</button>  
            {% if userrole > 0 %}
            <button onclick="InspectSelected()">Inspect more</button> 
            {% endif %}
            <div class="table-responsive">
                <table data-search="true" data-toggle="table" class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr style="background-color: #e3f2fd;">
                            <th data-checkbox="true"></th>
                            <th data-sortable="true"> ID</th>
                            <th data-sortable="true"> Leadtime</th>
                            <th data-sortable="true"> WorkOrder</th>
                            <th data-sortable="true"> Customer</th>
                            <th data-sortable="true"> Product Number</th>
                            <th> Chassis SN</th>
                            <th data-sortable="true"> Create at</th>
                            <th data-sortable="true"> Take at</th>
                            <th> Status</th>
                            <th> Return</th>
                            <th> Upload Report</th>
                            {% if userrole > 0 %}
                            <th> Build By </th>
                            <th> Inspection</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for each in processing %}
                    <tr>
                        <td> </td>
                        <td> {{ each.id }}</td>
                        <td> {% if each.ldtime != None %} 
                                {{ each.ldtime.strftime('%m/%d') }}
                             {% endif %}
                        </td>
                        <td> {{ each.wo }}</td>
                        <td> {{ each.customers }}</td>
                        <td> {{ each.pn }}</td>
                        <td> {{ each.csn }}</td>
                        <td> {{ each.cstime.strftime('%m/%d %H:%M') }}</td>
                        <td> {% if each.tktime == None %} 
                            {{each.tktime}} 
                         {% else %}
                           {{each.tktime.strftime('%m/%d %H:%M')}} 
                        {% endif %}
                        </td>
                        <td> {% if each.status ==  -1 %}
                            <span class="badge badge-warning">Unassigned</span>
                             {% elif each.status == 0 %}
                            <span class="badge badge-warning">Processing</span>
                             {% elif each.status == 1 %} 
                            <span class="badge badge-success">Waiting for inspection</span>
                             {% else %}
                            <span class="badge badge-success">Finished</span>
                             {% endif %}
                        </td>
                        <td>
                            {% if each.status ==  0 %}
                            <a class="btn btn-light btn-sm"
                               href="{{ url_for('main.ReturnOneComputer', id=each.id) }}"
                               role="button">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if each.status ==  0 %}
                            <a class="btn btn-light btn-sm"
                               href="{{ url_for('main.UploadReport', id=each.id) }}"
                               role="button">
                               <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </a>
                            {% elif each.status ==  1 %}
                               {{each.astime.strftime('%m/%d %H:%M')}} 
                            {% endif %}
                        </td>
                        {% if userrole > 0 %}
                        <td> {{ each.asid | usersname }}</td>
                        <td>
                            {% if each.status ==  1 %}
                            <a class="btn btn-light btn-sm"
                               href="{{ url_for('main.ReviewReport', id=each.id) }}"
                               role="button">
                               <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    <script type="text/javascript">
                        function UploadSelected() {
                            //Reference the Table.
                            var grid = document.getElementById("Processing");
                     
                            //Reference the CheckBoxes in Table.
                            var checkBoxes = grid.getElementsByTagName("input");
                            var message = "";
                            var cnt=0;
                            //Loop through the CheckBoxes.
                            for (var i = 2; i < checkBoxes.length; i++) {
                                if (checkBoxes[i].checked) {
                                    var row = checkBoxes[i].parentNode.parentNode.parentNode;
                                    message += row.cells[1].innerHTML;
                                    message += ' ';
                                    cnt=cnt +1;
                                }
                            }
                     
                            //Display selected Row data in Alert Box.
                            fetch("{{ url_for('main.uploadmore')}}", {
                                            method: "POST",
                                            headers: { "Content-type": "application/json" },
                                            body: JSON.stringify({ message})
                                   });
                            if(cnt!=0) location.reload();       
                        }
                        function InspectSelected() {
                            //Reference the Table.
                            var grid = document.getElementById("Processing");
                     
                            //Reference the CheckBoxes in Table.
                            var checkBoxes = grid.getElementsByTagName("input");
                            var message = "";
                            var cnt=0;
                            //Loop through the CheckBoxes.
                            for (var i = 2; i < checkBoxes.length; i++) {
                                if (checkBoxes[i].checked) {
                                    var row = checkBoxes[i].parentNode.parentNode.parentNode;
                                    message += row.cells[1].innerHTML;
                                    message += ' ';
                                    cnt=cnt +1;
                                }
                            }
                     
                            //Display selected Row data in Alert Box.
                            fetch("{{ url_for('main.inspectmore')}}", {
                                            method: "POST",
                                            headers: { "Content-type": "application/json" },
                                            body: JSON.stringify({ message})
                                   });
                            if(cnt!=0) location.reload();       
                        }
                    </script>
                </table>
            </div>
        </div>
       <div class="tab-pane fade" id="Completed" role="tabpanel" aria-labelledby="home-tab">
            <div class="col my-2">
                <h6 class="font-weight-bold">Completed WorkOrder Today</h6>
            </div>
            <div class="table-responsive">
                <table data-search="true" data-toggle="table" class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr style="background-color: #e3f2fd;">
                            <th data-sortable="true"> Leadtime</th>
                            <th data-sortable="true"> WorkOrder</th>
                            <th data-sortable="true"> Customer</th>
                            <th data-sortable="true"> Product Number</th>
                            <th data-sortable="true"> Chassis SN</th>
                            <th data-sortable="true"> Created at</th>
                            <th data-sortable="true"> Take at</th>
                            <th data-sortable="true"> Upload Report at</th>
                            <th data-sortable="true"> Inspected at</th>
                            <th data-sortable="true"> Built By </th>
                            <th data-sortable="true"> Inspected By</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for each in completed %}
                    <tr>
                        <td> {% if each.ldtime != None %} 
                            {{ each.ldtime.strftime('%m/%d') }}
                         {% endif %}
                        </td>
                        <td> {{ each.wo }}</td>
                        <td> {{ each.customers }}</td>
                        <td> {{ each.pn }}</td>
                        <td> {{ each.csn }}</td>
                        <td> {{each.cstime.strftime('%m/%d %H:%M')}} </td>
                        <td> {{each.tktime.strftime('%m/%d %H:%M')}} </td>
                        <td> {% if each.astime == None %} 
                            {{each.astime}} 
                         {% else %}
                           {{each.astime.strftime('%m/%d %H:%M')}} 
                        {% endif %}
                        </td>
                        <td> {% if each.intime == None %} 
                                 {{each.intime}} 
                              {% else %}
                                {{each.intime.strftime('%m/%d %H:%M')}} 
                             {% endif %}
                        </td>
                        <td> {{ each.asid | usersname }}</td>
                        <td> {{ each.insid | usersname }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  
       <div class="tab-pane fade" id="CompletedLW" role="tabpanel" aria-labelledby="completed-lw-tab">
            <div class="col my-2">
                <h6 class="font-weight-bold">Completed WorkOrder Last Weekday</h6>
            </div>
            <div class="table-responsive">
                <table data-search="true" data-toggle="table" class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr style="background-color: #e3f2fd;">
                            <th data-sortable="true"> Leadtime</th>
                            <th data-sortable="true"> WorkOrder</th>
                            <th data-sortable="true"> Customer</th>
                            <th data-sortable="true"> Product Number</th>
                            <th data-sortable="true"> Chassis SN</th>
                            <th data-sortable="true"> Created at</th>
                            <th data-sortable="true"> Take at</th>
                            <th data-sortable="true"> Upload Report at</th>
                            <th data-sortable="true"> Inspected at</th>
                            <th data-sortable="true"> Built By </th>
                            <th data-sortable="true"> Inspected By</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for each in completed_last_wd %}
                    <tr>
                        <td> {% if each.ldtime != None %} 
                            {{ each.ldtime.strftime('%m/%d') }}
                         {% endif %}
                        </td>
                        <td> {{ each.wo }}</td>
                        <td> {{ each.customers }}</td>
                        <td> {{ each.pn }}</td>
                        <td> {{ each.csn }}</td>
                        <td> {{each.cstime.strftime('%m/%d %H:%M')}} </td>
                        <td> {{each.tktime.strftime('%m/%d %H:%M')}} </td>
                        <td> {% if each.astime == None %} 
                            {{each.astime}} 
                         {% else %}
                           {{each.astime.strftime('%m/%d %H:%M')}} 
                        {% endif %}
                        </td>
                        <td> {% if each.intime == None %} 
                                 {{each.intime}} 
                              {% else %}
                                {{each.intime.strftime('%m/%d %H:%M')}} 
                             {% endif %}
                        </td>
                        <td> {{ each.asid | usersname }}</td>
                        <td> {{ each.insid | usersname }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  

     </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var autoRefresh = false;
var refreshInterval = null;

document.addEventListener('DOMContentLoaded', function () {
  var indicator = document.getElementById('liveIndicator');
  indicator.style.cursor = 'pointer';
  indicator.title = 'Click to toggle auto-refresh (30s)';
  indicator.addEventListener('click', function () {
    autoRefresh = !autoRefresh;
    if (autoRefresh) {
      indicator.style.color = 'green';
      indicator.innerHTML = '&#9679; Auto-refresh ON';
      refreshInterval = setInterval(function () {
        fetch('{{ url_for("main.api_workorder_counts") }}')
          .then(function (r) { return r.json(); })
          .then(function (data) {
            document.querySelectorAll('[data-badge="unassigned"]').forEach(function (el) { el.textContent = data.unassigned; });
            document.querySelectorAll('[data-badge="pending"]').forEach(function (el) { el.textContent = data.pending; });
            document.querySelectorAll('[data-badge="processing"]').forEach(function (el) { el.textContent = data.processing; });
            document.querySelectorAll('[data-badge="completed_today"]').forEach(function (el) { el.textContent = data.completed_today; });
            document.querySelectorAll('[data-badge="completed_lw"]').forEach(function (el) { el.textContent = data.completed_lw; });
          });
      }, 30000);
    } else {
      indicator.style.color = '';
      indicator.innerHTML = '&#9679; Live';
      if (refreshInterval) clearInterval(refreshInterval);
    }
  });
});
</script>
{% endblock %}
