{% extends 'base.html' %}

{% macro render_date_field(field) %}
<div class="form__group">
    {{ field.label(class_="form__label") }}
    {{ field(class_="form__field")}}

    {%- for error in field.errors %}
        <span class="form__error">{{ error }}</span>
    {% endfor %}
</div>
{% endmacro %}
<style> 
    .newspaper {
      column-count: 3;
      column-gap: 40px;
      column-rule: 1px solid lightblue;
    }
    
    h2 {
      column-span: all;
    }
    </style>
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xl-4">
           <form name="Uploadfile" method="post" novalidate class="formsimple">
                <div class="form__container">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.startdate.label }} {{ form.startdate(size=20, class_="form-control") }}
                        </div>
                    <div class="form-group col-md-6">    
                        {{ form.enddate.label }} {{ form.enddate(size=20, class_="form-control") }}
                        </div>
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.wo.label }} {{ form.wo(size=20, class_="form-control") }}
                        </div>
                    <div class="form-group col-md-6">    
                        {{ form.pn.label }} {{ form.pn(size=20, class_="form-control") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.csn.label }} {{ form.csn(class_="form-control") }}
                            </div>
                        <div class="form-group col-md-6">    
                            {{ form.customers.label }} {{ form.customers(size=20, class_="form-control") }}
                            </div>
                    </div>
                    {{ render_date_field(form.operator) }}
                    <div>
                        {{ form.submit(class_="button button--form") }}
                    </div>
                </div>
            </form>    
        </div>
    </div>
 </div>   
{% if searched ==1 %}
<div class="container">
<div class="row">
    <div class="col col-md-16 my-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="home-tab"  data-toggle="tab" href="#Search" role="tab" aria-controls="home" aria-selected="true">Search results</a>
            </li>
        </ul>
    <div class="tab-content" id="myTabContent">
            <div class="col my-2">
                <h6 class="font-weight-bold">Summary of  Search Results</h6>
                <button id="exporttable" class="btn btn-primary">Export</button>
            <script> 
                document.querySelector("#exporttable").addEventListener('click', function(){
                        var table = $("#reporttable");
                        if(table && table.length){
                          $(table).table2excel({
                            exclude: ".noExl",
                            name: "Excel Document Name",
                            filename: "WO" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                            fileext: ".xls",
                            exclude_img: true,
                            exclude_links: true,
                            exclude_inputs: true,
                            preserveColors: false
                          });
                        }
                      });
                    </script>
            </div>
            <div class="table-responsive">
                <table id="reporttable" data-search="true"  data-toggle="table" class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr style="background-color: #e3f2fd;">
                            <th> ID</th>
                            <th> WO#</th>
                            <th> Customer</th>
                            <th> PN</th>
                            <th> Chassis#</th>
                            <th> Create at</th>
                            <th> Take at</th>
                            <th> Built By</th>
                            <th> Built Time</th>
                            <th> Inspect By</th>
                            <th> Inspect Time</th>
                            <th> View Report</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rows in searchtable %}
                        <tr>
                            <td> {{ rows[0] }} </td>
                            <td> {{ rows[1] }} </td>
                            <td> {{ rows[2] }} </td>
                            <td> {{ rows[3] }} </td>
                            <td> {{ rows[4] }} </td>
                            <td> {{ rows[5] }} </td>
                            <td> {{ rows[6] }} </td>
                            <td> {{ rows[7] }} </td>
                            <td> {{ rows[8] }} </td>
                            <td> {{ rows[9] }} </td>
                            <td> {{ rows[10] }} </td>
                            <td>       
                                <a class="btn btn-light btn-sm"
                                href= "{{ url_for('main.ViewReport',wo=rows[1],csn=rows[4])}}"
                                role="button">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </a>
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>        
{% endif %}
{% endblock %}
