{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block content %}
    <div class="container"><div class="row">
        <div class="col-12 col-md-6 my-2">
            <div class="shadow-lg rounded card text-left">
                <div class="card-body bg-light">
                    <h4 style="margin-left: 45px"> Upload Report File  </h4>
                    {{ form.hidden_tag() }}
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 my-2">
            <div class="shadow-lg rounded card text-left">
                <div class="card-body bg-light">
                    <h4 style="margin-left: 45px"> Upload Report File  </h4>
                    <input type="file" id="file-input" />
                    <button id="read-button">Read File</button>
                    <pre id="file-contents"></pre>
                    <hr>
                    <script>
                        document.querySelector("#read-button").addEventListener('click', function() {
                            let file = document.querySelector("#file-input").files[0];
                            let reader = new FileReader();
                            reader.addEventListener('load', function(e) 
                            {
                                    let text = e.target.result;
                                    document.querySelector("#file-contents").textContent = text;
                                    let linelist = text.split("\r\n");
                                    for (let each in linelist) {
                                        i = parseInt(each) + 1;
                                        if (linelist[each].includes("Motherboard Serial Number:")) 
                                            {document.getElementById('msn').value= linelist[each].replace("Motherboard Serial Number:",'')}
                                        else if (linelist[each].includes("CPU Type:")) 
                                            { document.getElementById('cpu').value = linelist[each].replace("CPU Type:",'')}
                                        else if (linelist[each].includes("Slot 1:"))
                                            { document.getElementById('mem1').value = linelist[i]+linelist[i+1]} 
                                        else if (linelist[each].includes("Slot 2:"))
                                            { document.getElementById('mem2').value = linelist[i]+linelist[i+1]}       
                                        else if (linelist[each].includes("Slot 3:"))
                                            { document.getElementById('mem3').value = linelist[i]+linelist[i+1]}     
                                        else if (linelist[each].includes("Slot 4:"))
                                            { document.getElementById('mem1').value = linelist[i]+linelist[i+1]}     
                                    }
                                    document.getElementById('report').value = text
                            });
                            reader.readAsText(file);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}